#message{
    color: red;
    text-align: center;
}
#primeNumber{
    color: teal;
    text-align: center;
}


#container{
    text-align: center;
    background-color: teal;
    color: white;
    padding: 15px;
}
body{
    font-family: Arial;
}
form{
    padding: 10px;
    margin: auto;
    align-content: center;
}
button{
    color: teal;
    background-color: white;
    padding: 5px;
    border: 2px solid teal;
    vertical-align: auto;
}
#divForm{
    text-align: center;
}
label { 
    width: auto; 
    float: left; 
    display: block;
    margin: 5px; 
}
span { 
    display: block; 
    padding: 5px; 
    margin: auto;
    align-content: center;
}
input { 
    width: 200px; 
    border: 1px solid grey; 
    padding: 5px; 
    align-content: center;
}